# Ignore bundler config.
/.bundle

# Ignore bower components
/vendor/assets/bower_components/
/vendor/assets/bower.json

# Configuration file
.env

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
