<div class="page-header">
  <%= link_to candidates_path, class: 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    Back
  <% end %>
  <h1>New candidate</h1>
</div>

<%= render 'form' %>
